body{
    margin: 0;
    padding: 0;
}
.menu{
    background-color: rgba(36, 34, 34, 0.9); /*colocou o a para indicar que o menu é transparente, e o 0.9 para indicar a trensparencia*/
    position: fixed;
    height: 45px;
    width: 100%;
    backdrop-filter: blur(19px); /*blur serve para borrar o menu*/
    line-height: 0.7;
}

.menulinks{
    margin: auto;
    width: 65%;
    display: flex;
    justify-content: space-between;
}
.compreonline{
    justify-content: space-between;
    text-align: center;
    background-color: rgb(250, 249, 248);
    height: 40px;
    line-height: 2.6;
    font-size: 14px;
}
.menu-imagem-maior{
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
    line-height: 1;
}
.titulos{
    font-size: 55px;
}
p{
    font-size: 30px;
}
.saibamais{
    font-size: 20px; 
}
.comprar{
    justify-content: space-between;
    margin-left: 30px;
    font-size: 20px;
   /* letter-spacing: 5px; */
}
.iPhone{
    margin-top: 13px;
    background-color: white;
    height: 27vh;
    width: 100%;
    padding-top: 17px ;
}
.iPad{
    margin-top: 13px;
    background-color: black;
    color: white;
    height: 27vh;
    width: 100%;
    padding-top: 17px ;
}
.disponibilidade{
    color: rgb(116, 116, 116);
    font-size: 17px;
}
.iMac{
    margin-top: 13px;
    background-color: white;
    height: 27vh;
    width: 100%;
    padding-top: 17px ;
    margin: 13px;
}
.menu-imagem-menor{
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
}
.iPhone12pro{
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
    line-height: 0.9;
    background-color: black;
    color: white;
    height: 30vh;
    width: 100%;
    padding-top: 7px ;
    margin-left: 13px;
    margin-top: 13px;
}
.iPhone12pro-img{
    text-align: center;
    margin-top: 0;
    margin-left: 13px;

}
.titulo-imagem-menor{
    font-size: 40px;
}
.subtitulo-imagem-menor{
    font-size: 20px;
}
.saibamais-imagem-menor{
    font-size: 17px;
}
.comprar-imagem-menor{
    justify-content: space-between;
    margin-left: 30px;
    font-size: 17px;
}
.relogio{
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
    line-height: 0.5;
    margin: 13px;
}
